dtgov-task-api/src/main/resources/META-INF/schemas/task-api.xsd

<xsd:schema targetNamespace="http://downloads.jboss.org/overlord/dtgov/schemas/task-api-v1.xsd"
  xmlns:tns="http://downloads.jboss.org/overlord/dtgov/schemas/task-api-v1.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">

  <xsd:element name="taskSummary" type="tns:taskSummaryType" />
  <xsd:complexType name="taskSummaryType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" />
      <xsd:element name="name" type="xsd:string" />
      <xsd:element name="priority" type="xsd:int" />
      <xsd:element name="owner" type="xsd:string" minOccurs="0" />
      <xsd:element name="status" type="tns:statusType" />
      <xsd:element name="dueDate" type="xsd:dateTime" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="task" type="tns:taskType" />
  <xsd:complexType name="taskType">
    <xsd:complexContent>
      <xsd:extension base="tns:taskSummaryType">
        <xsd:sequence>
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" minOccurs="0" />
          <xsd:element ref="tns:taskData" minOccurs="0" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>

  <xsd:element name="taskData" type="tns:taskDataType" />
  <xsd:complexType name="taskDataType">
    <xsd:sequence>
      <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:attribute name="key" type="xsd:string" use="required" />
          <xsd:attribute name="value" type="xsd:string" use="required" />
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="findTasksRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="status" type="tns:statusType" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="priority" type="xsd:int" minOccurs="0" maxOccurs="unbounded" />
        <xsd:element name="dueOnFrom" type="xsd:date" minOccurs="0" />
        <xsd:element name="dueOnTo" type="xsd:date" minOccurs="0" />
      </xsd:sequence>
      <xsd:attribute name="startIndex" type="xsd:int" use="optional" default="0" />
      <xsd:attribute name="endIndex" type="xsd:int" use="optional" default="19" />
      <xsd:attribute name="orderBy" type="xsd:string" use="optional" default="priority" />
      <xsd:attribute name="orderAscending" type="xsd:boolean" use="optional" default="false" />
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="findTasksResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:taskSummary" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
      <xsd:attribute name="totalResults" type="xsd:long" use="required" />
    </xsd:complexType>
  </xsd:element>

  <xsd:simpleType name="statusType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Created" />
      <xsd:enumeration value="Ready" />
      <xsd:enumeration value="Reserved" />
      <xsd:enumeration value="InProgress" />
      <xsd:enumeration value="Completed" />
      <xsd:enumeration value="Failed" />
      <xsd:enumeration value="Error" />
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>